<h2 class="text mt-2">
  Cargar Producto
</h2>

<div class="row">
  <div class="col-4">
    <form action="/api/productos" method="post">
      <div class="mb-3">
        <label for="nombre" class="form-label">
          Nombre
        </label>
        <input type="text" class="form-control" name="nombre"/>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">
          Precio
        </label>
        <input type="number" class="form-control" name="precio"/>
      </div>
      <div class="mb-3">
        <label for="uri" class="form-label">
          URL Imagen
        </label>
        <input type="text" class="form-control" name="uri"/>
      </div>
      <button type="submit" class="btn btn-primary">
        Cargar producto
      </button>
    </form>
  </div>
</div>