<h2 class="text mt-2">
  Cargar Producto
</h2>

<form id="cargar_producto">
  <div class="mb-3">
    <label for="nombre" class="form-label">
      Nombre
    </label>
    <input type="text" class="form-control" name="nombre"/>
  </div>
  <div class="mb-3">
    <label for="precio" class="form-label">
      Precio
    </label>
    <input type="number" class="form-control" name="precio"/>
  </div>
  <div class="mb-3">
    <label for="uri" class="form-label">
      URL Imagen
    </label>
    <input type="text" class="form-control" name="uri"/>
  </div>
  <button onclick="enviar(event)" class="btn btn-primary">
    Cargar producto
  </button>
</form>


  <table id="productos" class="table">
  </table>
<div>
  <h2>CHAT</h2>
  <input id="chatUsuario">
  <table id="chat" class="table">
  </table>
  <input id="chatMensaje"><button onclick="envMensaje(event)" class="btn btn-primary">Enviar</button>
</div>